@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

.label {
    display: block;
    font-size: 2rem;
    padding: 0.5rem;
    border: thin;
    padding-right: none;
    display: block;
}

.label button {
    background: rgba(211, 211, 211, 0.539);
}

.label:hover svg {
    transform: rotate(180deg);
}

.navbar {
    margin: 2em;
    border: black solid 1px;
    border-radius: 0.5em;
    width: max-content;
    text-align: center;
    display: inline;
    position: fixed;
    float: right;
    background: rgba(211, 211, 211);
    right: 0;
}

.nav {
    display: none;
}

ul li {
    list-style: none;

}


nav a {
    font-size: 1.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    padding: 1em;
    line-height: 3em;
}

ul li:hover {
    background: #e3e3e3;
}

.label:hover .nav {
    display: inline-block;
}

.label svg {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
}

#top {
    min-height: 100vh;
    background: #e3e3e3;
}

fieldset {
    padding: 1em;
    margin: 0 1em;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

legend {
    margin: auto;
    font-weight: 300;
    padding: 0.5em;
}

h1 {
    width: fit-content;
    font-size: 4.5rem;
    text-align: center;
    margin: auto;
    font-weight: lighter;
}

h2 {
    text-align: center;
}

.index {
    background: azure;
    min-height: 100vh;
}

h3 {
    font-size: 2rem;
    text-align: center;
    border-bottom: double 2px black;
    width: fit-content;
    margin: 0 auto 1em;
}

table {
    caption-side: bottom;
    width: fit-content;
    border: 4px solid black;
}

th {
    text-align: center;
    font-size: 2rem;
    border: 2px black solid;
    padding: 0.5em;
}

td {
    text-align: center;
    font-size: 1.5rem;
    border: 2px black solid;
    padding: 0.5em;
}

caption {
    font-size: 1.5rem;
    margin: auto;
    text-decoration: underline 1px;
}

#enchantress {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #e3e3e3;
}

.content img {
    float: left;
    width: fit-content;
    padding-right: 10px;
    margin: 0 1rem;
    display: inline;
}

.content p {
    text-align: justify;
    font-size: 1.75rem;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    display: inline;
}

form {
    margin: 4em 3em 0;
}

form label {
    float: left;
    margin: 0.5em;
    font-weight: bold;
}

.form {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form textarea {
    resize: none;
    min-width: 70vw;
    font-size: 16px;
    height: 150px;
    box-sizing: border-box;
    margin: 0 1em;
    border-radius: 0.2em;
    position: relative;
    display: inline-block;
}

:placeholder-shown {
    padding: 0.5em;
}

form button {
    margin: 0.5em auto;
}

button {
    padding: 0.5em;
    border-radius: 0.5em;
}

