/* General things start */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: #e3e3e3;
    min-height: 100vh;
}

p {
    padding: 1em;
    text-align: justify;
    font-size: 2vw;
    margin: 0.5em;
}

button {
    cursor: pointer;
}

ol {
    text-align: center;
    margin: 0;
}

li {
    padding: 0.5em;
    list-style: inside;
}

::-webkit-scrollbar {
    width: 1.2vw;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 0.4em;
    border: black 0.1vw solid;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0.4em;
    min-height: 10vh;
    background-clip: padding-box;
}

::-webkit-scrollbar-button:single-button {
    background: #fff;
    display: block;
    background-repeat: no-repeat;
    height: 2.5vh;
    width: 1.2vw;
    border: black 0.1vw solid;
    border-radius: 0.2em;
    background-position: center;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("arrow-up.svg");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("arrow-down.svg");
}

::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

/* General things end */

/* Nav bar starts */

nav {
    width: 15vw;
}

.label {
    display: block;
    font-size: 2.3vw;
    border: thin;
}

.label button {
    background: rgba(211, 211, 211, 0.539);
    padding: 0.6em;
    border-radius: 0.5em;
}

.label:hover svg {
    transform: rotate(180deg);
}

.navbar {
    margin: 2em;
    border: black solid 1px;
    border-radius: 0.5em;
    text-align: center;
    display: inline;
    position: fixed;
    float: right;
    background: rgb(211, 211, 211);
    right: 0;
    z-index: 1;
}

.nav {
    position: absolute;
    right: 10000px;
    width: 100%;
    margin: auto;
}

nav li {
    list-style: none;
    width: 100%;
    display: block;
}

nav li:first-child{
    border-top: black solid 1px;
}


nav a {
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    line-height: 3em;
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    background: #e3e3e3;
}

nav ul li:last-child:hover {
    border-radius : 0 0 0.2em 0.2em;
}

nav ul li:hover a {
    color: rgba(74, 74, 74, 0.785);
}

.label:hover .nav {
    right: 0;
    position: static;
}

.navbar svg {
    height: auto;
    width: 2.3vw;
    vertical-align: middle;
}

/* Nav bar ends */

/* Main element starts */

main {
    min-height: 100vh;
}

/* Home page starts */

.top {
    min-height: 100vh;
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: dashed black 3px;
    width: 100%;
}

header {
    width: 100%;
}

h1 {
    font-size: 6vw;
    text-align: center;
    margin: auto;
    font-weight: lighter;
    width: 100%;
    padding: 0.5em;
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin: 1em auto;
    width: 100%;
    font-size: 4vw;
    display: block;
    padding: 1em;
}

/* Home page ends */

/* Index starts */

.index {
    background: azure;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: dashed black 3px;
    width: 100%;
    flex-wrap: wrap;
}

h3 {
    font-size: 3vw;
    text-align: center;
    border-bottom: double 4px black;
    width: fit-content;
    margin: 0.5em auto;
}

h3 a {
    color: black;
    text-decoration: none;
    font-size: 3vw;
}

table {
    caption-side: bottom;
    width: 50vw;
    margin: 1em auto;
    border: 4px solid black;
    height: auto
}

th {
    text-align: center;
    font-size: 2.5vw;
    border: 2px black solid;
    padding: 0.5em;
}

td {
    text-align: center;
    font-size: 2vw;
    border: 2px black solid;
    padding: 0.5em;
}

td a {
    font-size: 2vw;
}

table caption {
    font-size: 2vw;
    margin: auto;
    text-decoration: underline 1px;
}

/* Index ends */

/* Enchantress content starts */

#enchantress {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #e3e3e3;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    border: 3px black groove;
    width: 90vw;
    margin: 1em;
    height: auto;
}

.content img {
    margin: auto 2vw;
    display: block;
    border: 3px dashed black;
    width: 9.8vw;
    height: auto;
}

.content p {
    text-align: justify;
    font-size: 2.3vw;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    display: block;
    padding-right: 1em;
    box-sizing: border-box;
}

.content p a {
    color: black;
    text-decoration: none;
}

p a:hover,
h3 a:hover {
    color: blue;
    text-decoration: underline;
}

img:hover {
    border-color: blue;
}

/* Enchantress content ends */

/* Form starts */

form {
    margin: 5vh auto;
}

fieldset {
    padding: 1em;
    margin: 0 1em;
    width: 90vw;
    height: auto;
}

legend {
    font-size: 2vw;
}

form label {
    float: left;
    margin: 0.5em;
    font-weight: bold;
    height: fit-content;
    font-size: 1.5vw;
}

form input {
    width: 33vw;
    font-size: 1.5vw;
    margin: 0 0.5em;
    padding: 0.6em;
    border-radius: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

form p {
    color: dimgray;
    padding: 0 0 1em;
    margin-left: 9em;
    display: block;
    font-size: 1.5vw;
}

form textarea {
    width: 65vw;
    font-size: 1.5vw;
    height: auto;
    box-sizing: border-box;
    margin: 0 0.5em;
    border-radius: 0.2em;
    display: inline-block;
    resize: none;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

form button {
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0 auto 0.5em;
    width: 5vw;
    height: auto;
    font-size: 1vw;
    text-align: center;
}

form button:hover {
    background-color: #e3e3e3;
}

/* Form ends */

/* Footer starts */

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #121212;
    border-top: double 5px beige;
    font-size: 1.6vw;
    margin-bottom: 0;
    flex-wrap: wrap;
}

footer p {
    color: beige;
    text-decoration: underline;
    font-size: 2.5vw;
    margin: 0 auto;
}

footer ul {
    padding: 1em;
}

footer li {
    color: beige;
    width: fit-content;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    list-style: none;
    line-height: 1.5em;
}

footer li:hover {
    background: #3b3b3bd4;
}

footer a {
    color: bisque;
    font-size: 2vw;
}

/* Footer ends */

/* Privacy, tos and disclaimer start */

.new h2 {
   font-size: 2vw;
}

.new li {
    list-style: square inside;
}

.new ol {
    text-align: left;
}

.new li {
    text-align: justify;
    font-size: 2vw;
}

.new h3 {
    border: none;
    font-size: 2.2vw;
}

h4 {
    padding:1em;
    font-size: 1.3vw;
    line-height: 1.5em;
}

.new table {
    width: 80vw;
}

.new p {
    font-size: 2vw;
}

/* Privacy, disclaimer and tos end */

/* Contact starts */

.contact p {
    text-align: justify;
    font-size: 2.2vw;
    line-height: 1.5em;
    font-weight: 500;
}

.contact li {
    list-style: decimal inside;
    line-height: 1.5em;
    text-align: left;
    font-size: 2vw;
}

/* Contact ends */
